<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="OutPutPath" value="F:\xxxxxx6"/>
    <add key="ServerIP" value="172.30.90.100"/>
    <add key="DBUser" value ="sa"/>
    <add key="DBKey" value="123456"/>
    <add key="DBName" value="QFG2018"/>
    <add key="TabFilter" value="疑点"/>
    <add key="TargetReference" value ="参考列表.txt"/>
    <add key ="ColFilter" value ="单位名称" />
  </appSettings>
</configuration>